:root {
    --primary-bg-color: #0c1618;
    --secondary-bg-color: #004643;
    --supp-bg-color: #fff8f0;
    --primary-text-color: white;
    --focus-color: #2b2031;
    --anchor-color: lightblue;
    --move-positive: green;
    --move-negative: #B22222;
    --font-family: "Lucida Console", monospace;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: var(--font-family);
}

/* HEADER */
header {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerLeft {
    color: var(--primary-bg-color);
}

.headerMiddle {
    font-size: 1.25em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 15rem;
}

.headerRight {
    font-size: 1.5em;
    padding-right: 0.5rem;
}

a {
    color: var(--anchor-text-color) !important;
}


/* CONTAINER */
.graphDiv {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    height: 20rem;
}

#snpCard {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    height: 4rem;
    justify-content: space-evenly;
}

/* SECTOR "CARDS" */
#sectorStocks {
    overflow-y: auto;
}

.sectorInfo {
    margin-bottom: 1.5rem;
}

.rowContainer {
    overflow: auto;
}

.sectorTitle {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    position: sticky;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.row20 {
    display: inline flex;
}

.title20 {
    background-color: var(--primary-bg-color);
    position: sticky;
    left: 0;
    padding-top: 0.5rem;
    text-align: center;
    width: 4rem;
    font-weight: 700;
}

.stock20 {
    display: flex;
}

.stockSymbol {
    background: linear-gradient(45deg, var(--secondary-bg-color), var(--primary-bg-color));
    padding-top: 0.5rem;
    width: 3.5rem;
    text-align: center;
}

.stockData {
    background-color: gray;
    width: 5rem;
    text-align: right;
}

.stockClose {

}

.stockMove {
    background-color: var(--secondary-bg-color);
}
/* END SECTOR "CARDS" */

/* MEDIA QUERIES */
@media (min-width: 1100px) {
    header {
        justify-content: space-between;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .graphContainer {
        width: 60rem;
    }

    #graphCanvas {
        height: 25rem;
    }

    #snpCard {
        border-radius: 10px;
        height: 15rem;
        width: 30rem;
    }

    #sectorStocks {
        width: 70rem;
        border-radius: 10px;
        padding-right: 20px;
    }

    .rowContainer {
        padding-bottom: 16px;
    }
}