:root {
    --primary-bg-color: rgb(43, 34, 34);
    --secondary-bg-color: lightgray;
    --supp-bg-color: white;
    --primary-text-color: white;
    --anchor-text-color: lightblue;
}

* {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: var(--primary-bg-color);
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--primary-text-color);
}

.headerLeft {
    width: 3rem;
}

button {
    width: 100%;
}

#stocksButton {
    height: 3rem;
}

.headerMiddle {
    font-size: 1.25em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 15rem;
}

.headerRight {
    font-size: 1.5em;
    padding-right: 0.5rem;
}

a {
    color: var(--anchor-text-color);
}


/* CONTAINER */
.graphDiv {
    height: 20rem;
}

#snpCard {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    height: 4rem;
    justify-content: space-evenly;
}

/* SECTOR "CARDS" */
#sectorStocks {
    overflow-y: auto;
}

.sectorInfo {
    margin-bottom: 1.5rem;
}

.rowContainer {
    overflow: auto;
}

.sectorTitle {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    padding-bottom: 0.25rem;
}

.row20 {
    display: inline flex;
}

.title20 {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    position: sticky;
    left: 0;
    padding-top: 0.5rem;
    text-align: center;
    width: 4rem;
}

.stock20 {
    display: flex;
}

.stockSymbol {
    background-color: var(--supp-bg-color);
    padding-top: 0.5rem;
    width: 3.5rem;
    text-align: center;
}

.stockData {
    background-color: lightgray;
    width: 4.5rem;
    text-align: right;
}

.stockClose {

}
/* END SECTOR "CARDS" */