body {
    margin: 0;
    padding: 0;
}

#top {
    background-color: skyblue;
    width: 100%;
    font-size: 2em;
    padding-left: 10px;
    padding-bottom: 5px;
}

#stockMenu {
    width: 15em;
    background-color: ghostwhite;
}

#stockList {
    height: 90vh;
    overflow-y: auto;
}

.stockListRow:hover {
    background-color: lightgray;
    cursor: default;
}

.stockListRow {
    padding-top: 3px;
    padding-bottom: 3px;
}

.sym {
    width: 4em;
    text-align: left;
}

.stockName {
    width: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

#container {
    display: flex;
    justify-content: center;
    height: 100%;
}

#chartDiv {
    height: 850px;
    width: 850px;

}

table, th, td {
    border-collapse: collapse;
}

#colNames {
    background-color: white;
    position: sticky;
    top: 0;
}

td {
    border: 1px solid gray;
    padding: 3px;
    text-align: center;
}

.move {
    text-align: right;
}

#stockTable {
    padding-right: 0.5em;
    height: 93vh;
    overflow-y: auto;
    background-color: ghostwhite;
}

.stockData:hover {
    cursor: default;
}