body {
    margin: 0;
    padding: 0;
}

#top {
    background-color: lightblue;
    width: 100%;
    font-size: 2em;
    padding-left: 10px;
    padding-bottom: 5px;
}

td {
    border: 1px solid black;
    text-align: right;
}

#container {
    display: flex;
}

#chartDiv {
    height: 800px;
    width: 800px;
}

#stockTable {
    height: 90vh;
    padding-right: 12px;
    overflow-y: auto;
}
