:root {
    --primary-bg-color: #0c1618;
    --secondary-bg-color: #004643;
    --supp-bg-color: #fff8f0;
    --primary-text-color: white;
    --focus-color: #2b2031;
    --anchor-color: lightblue;
    --move-positive: green;
    --move-negative: #B22222;
    --font-family: "Lucida Console", monospace;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: var(--font-family);
}

/* HEADER */
header {
    background-color: var(--primary-bg-color);
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text-color);
}

.headerLeft {
    width: 3rem;
}

button {
    width: 100%;
}

#stocksButton {
    height: 3rem;
}

.headerMiddle {
    font-size: 1.25em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 15rem;
}

.headerRight {
    font-size: 1.5em;
    padding-right: 0.5rem;
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stockList {
    background-color: var(--secondary-bg-color);
    z-index: 1;
    display: none;
    flex-direction: column;
    position: absolute;
    width: 10rem;
    height: 80vh;
    overflow-y: auto;
    padding-right: 0.5rem;
}

#stockInput {
    position: sticky;
    top: 0;
}

#list {
    background-color: var(--secondary-bg-color);
}

#list:hover {
    cursor: default;
}

#listFocus {
    background-color: var(--focus-color);
}

.stockListRow {
    display: flex;
}

.sym {
    width: 5rem;
}

.stockName {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.graphContainer {
    background-color: var(--secondary-bg-color);
}

.graphDiv {
    height: 300px;
}

#graphCanvas2 {
    display: none;
}

#graphButtons {
    display: flex;
    height: 2.5rem;
}

.chartDisplayButton {
    background-color: whitesmoke;
    border-radius: 30px;
}

.historyTable {
    height: 55vh;
    overflow-y: auto;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

thead {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    position: sticky;
    top: 0;
}

tr {
    height: 2.5rem;
}

tr:nth-child(odd):not(thead tr) {
    background-color: var(--secondary-bg-color);
}

tr:nth-child(even) {
    background-color: var(--primary-bg-color);
}

td {
    text-align: center;
    color: var(--primary-text-color);
}

.positiveMove {
    background-color: var(--move-positive);
}

.negativeMove {
    background-color: var(--move-negative);
}

a {
    color: var(--anchor-color);
}

/* MEDIA QUERIES */
@media (min-width: 1100px) {
    .headerMiddle {
        font-size: 1.25em;
        overflow: revert;
        text-align: left;
    }

    #stocksButton {
        display: none;
    }

    .stockList {
        border-radius: 5px;
        display: flex !important;
        flex-direction: column;
        position: relative;
        height: 95vh;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .graphContainer {
        border-radius: 10px;
        width: 800px;
        height: 890px;
    }

    .graphDiv {
        width: 800px;
        height: 425px;
    }

    #graphCanvas {
        display: block !important;
    }

    #graphCanvas2 {
        display: block !important;
    }

    #graphButtons {
        display: none;
    }

    .historyTable {
        height: 95vh;
        padding-right: 8px;
    }
}

@media (min-width: 1250px) {
    .historyTable {
        width: 15rem;
        font-size: 0.75rem;
    }

    tr {
        height: 2rem;
    }
}
