body {
    margin: 0;
    padding: 0;
}

#top {
    background-color: lightblue;
    width: 100%;
    font-size: 2em;
    padding-left: 10px;
    padding-bottom: 5px;
}

td {
    border: 1px solid gray;
    text-align: right;
}

#stockList {
    height: 90vh;
    overflow-y: auto;
}

.stockListRow:hover {
    background-color: lightgray;
    cursor: default;
}

.stockListRow {
    padding-bottom: 3px;
}

.sym {
    width: 4em;
}

.stockName {

}

#container {
    display: flex;
    justify-content: center;
}

#chartDiv {
    height: 800px;
    width: 800px;
}

#stockTable {
    height: 90vh;
    padding-right: 12px;
    overflow-y: auto;
}